* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: beige;
}

.d_flex{
    display: flex;
}



.upgrade .btn_up{
    display: inline-block;
    border: 1px solid green;
    border-radius: 2rem;
    padding: 1rem 3rem;
}

i{
    color: red;
    

    display: inline-block;
}