/* #region common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container_flex{
    display: flex;
}

.item{
    width: 100px;
    height: 100px;
    background-color: aquamarine;
}

.item.red{
    background-color:rgb(107, 7, 7);
}

.item.green{
    background-color: rgb(28, 28, 150);
}

.item.blu{
    background-color: rgb(28, 28, 150);
}