/* #region common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.item.green{
    background-color: lightgreen;
}

.item.red{
    background-color: coral;
}

.item.blu{
    background-color: lightskyblue;
}

/* #endregion common */


.container_flex{
    background-color: pink;
    width: 70%;
    height: 450px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.item{
    width: 100px;
    height: 100px;
    background-color: aquamarine;
}

