/* #region common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#site_main{
    width: 70%;
    margin: auto;
}

#site_header{
    text-align: center;
    background-color: #f0f0f0;
    padding: 20px;
}



    width: 100%;
    margin-top: 20px;
    height: 700px;
}

.square {
    width: 200px;
    height: 200px;
    font-size: 50px;
    text-align: center;
    line-height: 200px;
}
/* #endregion common */

/* #region main */

.square.pink {
    background-color: pink;
}

.square.lightblue {
    background-color: lightblue;
}

.square.lightgreen {
    background-color: lightgreen;
}

.square.lightorange {
    background-color: rgba(241, 171, 40, 0.681);
}

.square.violet {
    background-color: violet;
}
/* #endregion main */
